html, body, #viewDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.btn-cl-1{
    border-radius: 20%;
    background-color: rgba(43, 96, 175, 0.756);
    border-width: 10px;
    border-color: rgb(43, 96, 175);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: antiquewhite;
}
#btn-1 {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}